Binaries
DerivedDataCache
Intermediate
Saved
Content
Config
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.ini
*.uasset
*.umap
*.uasset
*.uasset
*.uasset
Config/DefaultInput.ini
Config/DefaultGame.ini
Config/DefaultEngine.ini
Config/DefaultEditorPerProjectUserSettings.ini
Config/DefaultEditor.ini
*.ini
